include README.md
include LICENSE
include THIRD-PARTY-NOTICES.txt
include pyproject.toml
include setup.py
recursive-include examples *.py
recursive-include src/openkache *.py py.typed
recursive-include native Cargo.toml Cargo.lock *.rs
prune native/target
